.header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.logoDiv {
  width: 125px;
  height: 35px;
}
.logoDiv img {
  width: 100%;
  height: 100%;
}
.navList ul {
  list-style: none;
  position: relative;
  display: flex;
  gap: 40px;
  z-index: 9999;
}

.iconsD img {
  width: 26px;
  height: 26px;
  cursor: pointer;
  position: relative;
  z-index: 888;
}
.iconsD img:first-child {
  margin-right: 20px;
}
/****************
*** Hero Section ****
****************/

.hero {
  background-color: var(--light-pink);
  height: 550px;
  width: 94%;
  position: relative;
  left: 6%;
  border-top-left-radius: 32px;
  display: flex;
  align-items: center;
}
.hero1 {
  margin-left: 6rem;
  z-index: 999;
}
.hero1 p {
  font-weight: 300;
  font-size: 1.5rem;
  margin-top: -1rem;
  margin-bottom: -1.6rem;
  color: var(--ligher);
}
.hero1 h1 {
  font-size: 3.2rem;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 66px;
}
.heroImg {
  transform: scaleX(-1);
  width: 600px;
  height: auto;
  margin: 4rem 2rem 0 0;
  position: relative;
}
.hero2::before {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 12%;
  right: 12%;
}
.heroBtn {
  font-size: 3rem;
}
.newIn {
  text-align: center;
  margin: 4rem;
}
.newIn h2,
.best h2 {
  font-size: 2rem;
  font-weight: 500;
}
.newIn p,
.best p {
  color: var(--ligher);
  margin-top: -14px;
}
.newIn ul {
  list-style: none;
  text-align: left;
  display: flex;
  gap: 4rem;
  font-weight: 500;
  font-size: 1rem;
  margin-left: 2.4rem;
  margin-bottom: -1rem;
}
.newIn ul li {
  cursor: pointer;
}
.productsNew,
.bestProducts {
  display: flex;
  gap: 2rem;
  width: 88%;
  margin: 3rem auto 0 auto;
}
.pCards {
  width: 230px;
  height: 274px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pCards img {
  width: 180px;
  height: 200px;
  transition: transform linear 300ms;
  cursor: pointer;
}

.pCards:hover img {
  transform: translateY(-10px);
}
.uniSection {
  height: 550px;
  background-color: #c8f6d8;
  display: flex;
  align-items: center;
  padding: 0 8rem;
  position: relative;
  z-index: 0;
}
.uniLeft {
  margin-top: -4rem;
}
.uniLeft h2 {
  font-size: 2.6rem;
}
.uniLeft p {
  color: #797979;
  font-size: 1.1rem;
  margin-bottom: 2rem;
}
.uniLeft h3 {
  position: relative;
  margin-left: 2rem;
}
.uniLeft h3::before {
  content: "";
  width: 1.4rem;
  height: 0.1rem;
  background-color: #797979;
  display: block;
  position: absolute;
  top: 12px;
  left: -30px;
}
.uniImage {
  width: 100%;
}
.uniImage img {
  transform: scaleX(-1);
  top: 30%;
  left: 40%;
  width: 55%;
  height: auto;
  position: absolute;
  z-index: -1;
}
.best {
  text-align: center;
  margin: 4rem auto;
}
.bestProducts {
  margin-left: 8rem;
}
.bestProduct {
  width: 300px;
  padding: 2rem 0;
  background-color: white;
  box-shadow: 0 4px 12px 1px #00000015;
  position: relative;
}

.bestProduct::before {
  width: 60px;
  height: 60px;
  padding: 20px;
  box-sizing: border-box;
  background-color: var(--primary);
  content: "Our Best";
  display: block;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 16px;
  left: 16px;
  font-size: 0.8rem;
}
.bestProduct img {
  width: 90%;
  height: 70%;
  margin-top: -2rem;
  cursor: pointer;
}
.bestProduct h4 {
  color: var(--ligher);
}
.bestProduct p {
  color: black;
  font-weight: 500;
  font-size: 1.2rem;
  margin-top: 10px;
}
.uniColor {
  display: flex;
  gap: 20px;
}
.cartDrawer {
  height: 80vh;
  width: 26%;
  background-color: white;
  z-index: 4;
  position: absolute;
  right: 0px;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  transition: transform 260ms linear;
}
.cartDrawer button:hover {
  background-color: var(--primary);
  color: white;
}
.cartDrawerProd {
  height: 80%;
  overflow-y: scroll;
}
.search {
  background-color: #00000099;
  position: absolute;
  z-index: 400;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
}
.search input {
  border: none;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  font-size: 2rem;
  padding: 0.6rem 1rem;
  color: white;
}

.search input:focus {
  outline: none;
  border-color: var(--primary);
}

.search input::placeholder {
  color: #fafafa;
}

.pageHeader {
  height: 340px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  background-image: url(../public/furnitureH.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex-direction: column;
  color: white;
}

.pageHeader h2 {
  font-weight: 500;
  font-size: 2rem;
}

.breadcrumbs img {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}
.breadcrumbs p {
  font-size: 1rem;
}

.productsDiv {
  margin: 4rem 8rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 2rem;
}

.productsBox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.colorPicker {
  display: flex;
  gap: 10px;
}
.priceRange h3 {
  margin-bottom: 1rem;
}
.priceRange input[type="range"] {
  -webkit-appearance: none;
  background: transparent;
  cursor: pointer;
  width: 12rem;
}

.priceRange input[type="range"]::-webkit-slider-runnable-track {
  background: #ced4da;
  height: 0.2rem;
}
.priceRange input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -4px;
  background-color: var(--primary);
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
}
.priceRange span {
  margin-left: 11rem;
  margin-top: 2rem;
  color: var(--ligher);
}
.productsPage {
  margin: 2rem 0;
}
.productHero {
  display: flex;

  height: 60%;
}
.ProductImage {
  background-color: var(--primary);
  padding: 2rem 0;
  width: 60%;
  text-align: center;
  border-radius: 0 250px 250px 0;
}
.ProductImage img {
  width: 60%;
  height: auto;
}
.productAbout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 38%;
  padding: 2rem 2rem;
}
.productAbout p {
  color: var(--ligher);
}
.productAbout h3 {
  font-size: 2.8rem;
}
.cartItem {
  display: flex;
  gap: 10px;
  align-items: center;
  border-bottom: 0.5px solid #f1f3f5;
  padding: 10px 0;
}
.cartItem:last-child {
  border: none;
}
.cartItemImageBox {
  width: 40%;
  height: auto;
}
.cartItemImageBox img {
  width: 100%;
  height: auto;
}
.cartItemAbout h2 {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 500;
}
.cartItemAbout p {
  font-size: 0.8rem;
  margin: 0;
}
.cartItemAbout p:last-child {
  font-weight: 700;
}
.totalCartPrice {
  font-weight: 600;
}
.checkoutPage {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 1020px) {
  .hero2::before {
    right: 16%;
  }
  .productsBox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 880px) {
  .hero {
    flex-direction: column;
    height: 660px;
    text-align: center;
    padding: 2rem 0;
  }

  .hero1 {
    padding: 2rem 3rem;
    margin: 0 auto;
  }
  .hero1 h1 {
    font-size: 2.2rem;
    font-weight: 400;
    width: 360px;
    line-height: 50px;
  }
  .hero2 {
    margin-top: -5rem;
  }
  .hero2::before {
    top: 45%;
    right: 26%;
  }
  .heroImg {
    width: 480px;
  }
  .productsNew {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .uniSection {
    height: 450px;
  }
  .bestProducts {
    margin-left: 4rem;
  }
  .newIn ul {
    margin-left: 0;
  }
  .productsDiv {
    margin: 2rem 3rem;
  }
}
@media screen and (max-width: 684px) {
  .hero2::before {
    right: 24%;
  }
  .productsNew {
    grid-template-columns: repeat(2, 1fr);
  }
  .bestProduct {
    width: 40%;
  }
  .bestProduct::before {
    width: 46px;
    height: 46px;
    font-size: 0.7rem;
  }
  .bestProduct img {
    width: 80%;
    height: 60%;
  }
  .navList {
    display: none;
  }
  .header {
    justify-content: space-between;
    margin: auto 20px;
  }
  .cartDrawer {
    width: 40%;
  }
  .pCards {
    width: 100%;
  }
  .productsDiv {
    grid-template-columns: 1fr;
  }
  .filters {
    width: 200px;
    margin: 0 auto;
  }
  .productHero {
    flex-direction: column;
  }
  .ProductImage {
    width: 88%;
  }
  .productAbout {
    width: 88%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 570px) {
  .uniSection {
    flex-direction: column;
    height: 580px;
    padding: 2rem 6rem;
  }
  .uniLeft {
    margin: 0;
  }
  .uniLeft h2 {
    font-size: 2rem;
  }
  .uniImage img {
    top: 60%;
    left: 12%;
    width: 80%;
  }
}
@media screen and (max-width: 510px) {
  .productsBox {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 420px) {
  .heroImg {
    width: 400px;
  }
  .hero2::before {
    right: 18%;
    top: 44%;
  }
  .hero {
    height: 600;
  }
  .hero1 h1 {
    font-size: 1.8rem;
    font-weight: 400;
    width: 260px;
    line-height: 40px;
    padding: 1rem 0;
  }
  .hero p {
    font-size: 1rem;
  }
  .productsNew {
    grid-template-columns: 1fr;
    width: 100%;
  }
  .uniImage img {
    top: 66%;
  }
  .uniSection {
    padding: 2rem 4rem;
  }
  .bestProducts {
    flex-direction: column;
    width: 100%;
  }
  .bestProduct {
    width: 80%;
  }
}
