.header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.logoDiv {
  width: 125px;
  height: 35px;
}
.logoDiv img {
  width: 100%;
  height: 100%;
}
.navList ul {
  list-style: none;
  display: flex;
  gap: 24px;
}

.iconsD img {
  width: 26px;
  height: 26px;
}
.iconsD img:first-child {
  margin-right: 20px;
}
